/* Centraliza o conteúdo da home */

 html, body, .container-table {
    height: 98%;
    background: url(../img/img-home2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}


/* Ajusta a altura entre o primeiro botão e a barra superior em uma resolução pequena*/
.padding-xs {
    padding-bottom: 80px;
}

.text-btn {
    font-size: 22pt;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 75, 62, 0.51);
}


/* Alinha os textos com os botões */
.center-buttom {
    text-align: center ;
}

.home-btn {
    color: #fff;
}


.home-btn:hover, .home-btn:focus {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}


/* Ajusta o tamanho da barra do rodapé  */

.navbar-fixed-bottom {
    min-height: 40px;
    height: 40px;
}


/* Alinha verticalmente o elemento do rodapé em um resolução grande */

.navbar-bottom-content>li>a {
    padding-top: 8px;    
}


/* Mantém o elemento do rodapé verticalmente alinhado em resoluções pequenas */

.navbar-nav {
    float: left;
    margin: 0px;
}


/* Centraliza o elemento no rodapé */

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 0px;
}
.footer {
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0);
}

.footer-link {
 color: rgba(0,0,0,0.5); 
}

.footer-link:hover, .footer-link:focus {
  color: rgba(0,0,0,0.8);
  text-decoration:none
}
