body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}




/* Aplica a CSS se resolução >= 767px 
   Faz parte do tema padrão
--------------------------------------------------*/

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}


/* Aplica o padding na barra de navegação para
   resoluções entre  768px e 980px, para evitar
   que os elementos fiquem colados no canto
   quado a JQuery aplica a classe container-fluid
   para ajustar o espaçamento dos elementos 
--------------------------------------------------*/

.nav-tablet-padding {
    padding-left: 30px;
    padding-right: 30px;
}




/* Intro 
-------------------------------------------------- */

.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: url(../img/home-img-home.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}




/* About 
--------------------------------------------------*/

.about-section {
    padding-top: 50px;
    text-align: center;
}


/* Esconde o elemento com os links lattes e resumé,
   uma JQuery é usada para a exibição */

#lattes-resume {
    display: none;
}




/* Research 
--------------------------------------------------*/

.research-section {
    padding-top: 50px;
    text-align: center;
}

.container-home-img-research {
    display: table;
    background: url(../img/home-img-research.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 50%;
    margin-top:60px;
}




/* Ensino 
--------------------------------------------------*/

.ensino-section {
    padding-top: 50px;
    text-align: center;
}

.container-home-img-ensino {
    display: table;
    background: url(../img/home-img-ensino.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 50%;
    margin-top:60px;
}




/* Cluster 
--------------------------------------------------*/

.cluster-section {
    padding-top: 50px;
    text-align: center;
    background: #fff;
}

.container-home-img-cluster {
    display: table;
    background: url(../img/home-img-cluster.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 50%;
    margin-top:60px;
}




/* Contact 
--------------------------------------------------*/

.contact-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #FBFBFB;
}




/* Textos da home 
--------------------------------------------------*/

.home-section-text {
    font-size:12pt;
    text-align: justify;
    margin-top: 10px;
}

a:hover, a:focus {
    color: #005EAA;
    text-decoration: none;
}




/* Ajusta o padding dos ícones e textos
--------------------------------------------------*/

.padding-tablet {
     padding-left: 0px;
     padding-right: 0px;
}


/* Aplica a CSS se resolução < 767 ou resolução > 981px 

   Ajusta e sobrescreve o padding dos ícones e textos

--------------------------------------------------*/

@media (max-width: 767px) {
    .padding-tablet {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 981px) {
    .padding-tablet {
        padding-left: 15px;
        padding-right: 15px;
    }
}




/* Aplica a CSS se resolução >= 500px 

   Ajusta a distância entre as imagens e os títulos

--------------------------------------------------*/

@media (min-width: 500px) {
    
    .about-section,
    .research-section,
    .ensino-section,
    .cluster-section {
 
       height: 100%;
       padding-top:150px;
    }

}




/* Rodapé
--------------------------------------------------*/

.footer {
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0);
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}

.footer-link {
 color: rgba(0,0,0,0.3); 
}

.footer-link:hover, .footer-link:focus {
  color: rgba(0,0,0,0.8);
  text-decoration:none
}
