/* Centraliza o conteúdo da home */

 html, body, .container-table {
    height: 98%;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 0px;
}

.container-home-img-1 {
    display: table;
    background: url(../img/home-img6.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 50%;
    margin-top:60px;
}

.container-home-img-2 {
    display: table;
    background: url(../img/home-img8.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 50%;
    margin-bottom:40px;
}

.container-home-img-3 {
    display: table;
    background: url(../img/home-img6.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
    width: 970px;
}

/* Ajusta a altura entre o primeiro botão e a barra superior em uma resolução pequena*/

.padding-xs {
    padding-bottom: 80px;
}


/* Alinha os textos com os botões */

.center-buttom {
    text-align: center;
}


/* Ajusta o tamanho da barra do rodapé  */

.navbar-fixed-bottom {
    min-height: 40px;
    height: 40px;
}

/* Alinha verticalmente o elemento do rodapé em um resolução grande */

.navbar-bottom-content>li>a {
    padding-top: 8px;    
}

/* Mantém o elemento do rodapé verticalmente alinhado em resoluções pequenas */

.navbar-nav {
    float: left;
    margin: 0px;
}

/* Centraliza o elemento no rodapé */

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}

.home-btn {
    color: #000;
}

.text-btn {
    font-size: 20pt;   
}

.cluster-btn {
    font-size:15pt;
}

.home-cluster-text {
    font-size:12pt;
    text-align: justify;
    margin-top: 10px;
}

.home-btn:hover, .home-btn:focus {
    color: rgba(255,255,255, 0.6 );
    text-decoration: none;
}


/* Sticky footer styles
-------------------------------------------------- */

.footer {
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0);
}

.footer-link {
 color: rgba(0,0,0,0.3); 
}

.footer-link:hover, .footer-link:focus {
  color: rgba(0,0,0,0.8);
  text-decoration:none
}
